@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 :root{
    --bord:1px solid red;
    --cursiva:'Cedarville Cursive', cursive;
 }

body{
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
   
}
.conteiner{
    width: 99%;
    height: 105vh;
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/istockphoto-1317628358-612x612Tiempo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px auto;
    gap: 8px;

}
.conteiner_titulo{
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.title{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    font-family:cursive ;
  
}
.conte_childs{
    width: 98%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.conteiner_form{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    height: 90%;
    background: rgba(225, 225, 225, 0.3);
    box-shadow: 0 10px 20px black;
    border-radius: 10px;

}
.conteiner_titulos{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo_registro{
    font-size: 35px;
    color: white;
    text-align: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
    padding: 8px;
    gap: 4px;    
}
.cont_formu{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.conteiner_input{
    border: none;
    width: 98%;
    height: 45px;
    border-radius: 4px;  
}
.conteiner_label{
  margin: 4px;
  font-size: 18px;
  text-align: start;
}
.cont_btn_guardar{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.btn_guardar{
    border: none;
    background-color: rgba(137, 43, 226, 0.712);
    color: white;
    width: 98%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 18px;
}
.btn_guardar:hover{
    background-color:rgba(0, 0, 255, 0.726);
    color: white;
}

.btn_ocultar{
    display: none;
}
/* __________________________________________________________ */
.conteiner_mostrar{
     width: 60%;
     height: 90% ; 
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 4px;
    
}

.conteiner_cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
    gap: 25px;
    margin-top: 10px;
    height: 90%;
    width: 99%;
    box-shadow: 0 10px 20px black;
    border-radius: 10px;
    padding: 15px;
}
.card{
    width: 260px;
    height: 360px;
    /* background-color: #a1c4fd; */
    background: rgba(225, 225, 225, 0.644);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card_img{
    background-image: url("../icon/user.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50%;
}
.vista{
    width: 80%;
    height: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 1px; 
}
.card_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}
.botones{
    border: none;
    border: 2px solid white;
    background-color: transparent;
    padding: 3px; 
    border-radius: 4px;
    color: black; 
    width: 90px;
}
.actualizar:hover{
    border: 2px solid blue;
}
.eliminar:hover{
    border: 2px solid red;
}
/* _____________________________________________________ */
.conteiner_header{
 display: flex;
 align-items: center;
 justify-content:space-evenly;
 width: 99%;
 height: 45px;
 border: 1px solid white;
 border-radius: 4px;
}
.cont_mostrar_titulo{
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.buscador{
display: flex;
align-items: center;
justify-content: space-evenly;
width: 60%;
height: 90%;
}
.buscar{
    background-image: url("../icon/serch.svg");
    background-repeat: no-repeat;
    background-size:contain;
    width: 30px;
    height: 30px;
    text-align: center;
}
.conteiner_card_titulo{
    color: white;
    font-size: 16px;
    margin-left: 10px;
    letter-spacing: 1px;
}
.conteiner_card_input{
    width: 80%;
    height: 35px;
    background-color: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 6px;
    margin-left: 10px;

}
.vista_span{
    font-size: 14px;
}
.btns_cta{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.btns_general{
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    background-color:rgba(128, 0, 128, 0.692);
    color: white;
    font-size: 16px;

}
.btns_general:hover{
    background-color: rgba(0, 0, 255, 0.596);
}

/*______________________________________________________ */
.contenedor_modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal{
    width: 40%;
    height: 300px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(225, 225, 225, 0.644);
    position: relative;
}
.cont_modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-top: 20px;
}

.cerrar{
    position: absolute;
    right: 15px;
    top: 10px;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.modal_texto{
    text-align: center;
    /* width: 80%; */
    margin: 20px;
    font-size: 22px;
}
.modal_btn{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width:80% ;
    height:50px;
    margin-top: 20px;
    /* border: 1px solid black; */
}
.btns{
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
}
.aceptar:hover{
    border: 2px solid blue;
}
.cancelar:hover{
    border: 2px solid red;
}



/* media query */
@media (max-width:1020px) {
    .conteiner{
        height: 100%;
    }
    .conte_childs{
        height: 90%;
    }
    .conteiner_form{
        width: 35%;
        height: 600px; 
        gap: 5px;

    }
     .conteiner_mostrar{  
        height: 610px;
    }
    
    .conteiner_titulo{
        margin-top: 35px;
        height: 100%;
    }
    .conteiner_titulos{
        width: 80%;
        margin-top: 40px; 
    }
    .titulo_registro{
        font-size: 28px;
      
    }
    
    .formulario{
        width: 95%;
        height: 100%;
        gap: 15px;   
    }
   
    .cont_btn_guardar{
        height: 100%;
        margin-top: 18px;
    }
    .btns_cta{
        gap: 10px;
    }
    .btns_general{
        width: 60%;
    }
    
   

    

    
}

@media (max-width:900px) {
     .conteiner{
        height: max-content;
    }
    .conte_childs{
        flex-direction: column;
        gap: 10px;
    }
    .conteiner_form{
        width: 80%;
        margin-top: 10px;
        

    }
    .conteiner_mostrar{
        width: 90%;
   }
    
   /* ______________________ */
   .modal{
    width: 70%;
   
    }
    .modal_btn{
        justify-content:center;
        gap: 40px;
      
    }
}

@media (max-width:425px) {
    .conteiner_form{
        width: 98%;
        margin-top: 10px;
    }
    .conteiner_mostrar{
        width: 98%;
    }
   .conteiner_titulo{
    margin-top: 10px;
    width: 95%;
    }

    .title{
        font-size: 35px;
    }
    .conteiner_card_titulo{
        font-size: 12px;
        text-align: center;
    }
    .buscador{
        justify-content: center;
        gap: 8px;
      
        }

        /* ___________________________ */
        .modal{
            width: 90%;
            height: 260px; 
            background-color: rgba(255, 255, 255, 0.329);
        }
        .cont_modal{
            width: 90%;
            margin-top: 25px;
        }
        .modal_btn{
            justify-content:space-between;
            margin-top: 10px;
        }
        .modal_texto{
            color: white;
            font-size: 18px;
        }
        .cerrar{
            border: 1px solid white;
            color: white;
            font-size: 20px;
           
        }
}

@media (max-width:375px) {
    .title{
        font-size: 30px;
    }
    .conteiner_card_titulo{
        font-size: 13px;
    }

/* __________________________________ */
    .modal{
        width: 93%;
    }
    .cont_modal{
        width: 95%;
    }
    
    
}

    



   















